@use '../../index.scss';

.root {
    @include index.container
}

.about {
    font-size: 24px;
}

.title {
    font-size: 32px;
}

.avatar {
    border-radius: 100%;
    height: 190px;
}

.list {
    list-style: none;
}

.listItem {
    font-size: 18px;
}