@import 'normalize.css';

body {
    height: 100dvh;
}

a {
    text-decoration: none;
    color: inherit;
}

#root {
    height: 100%;
    max-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 80px;
}