.root {
    display: flex;
    justify-content: space-between;
}

.link {
    margin-right: 40px;

    @media (max-width: 1024px) {
		display: block;
	}
}

.logo {
    @media (max-width: 1024px) {
		display: none;
	}
}

.list {
    margin: 0;

	@media (max-width: 1024px) {
		display: none;
		padding: 0;
	}
}

.listMobile {
	display: block;
}

.isMobileMenu {
	width: 24px;
	height: 24px;
    margin-left: auto;
	display: none;

	@media (max-width: 1024px) {
		display: block;
	}
}

.mobileNav {
	@media (max-width: 1024px) {
		background-color: #FFF;
		position: fixed;
		min-width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
        left: 0;
		padding: 20px;
		min-width: -webkit-fill-available;
	}
}

.langSwitcher {
	@media (max-width: 1024px) {
		display: none;
	}
}

.span {
	width: 20px;
	position: relative;
	display: block;
}

.lang {
	margin: 4px 0;

    @media (max-width: 1024px) {
		display: none;
	}
}

.langList {
	list-style: none;
	position: absolute;
	right: 60px;
}

